* {
  box-sizing: border-box;
}

.content {
  text-align: center;
  overflow: hidden;
  color: white;
}
#semestre5  {
  width: 20%;
  float:left;
  background: #244F75;
}
#semestre1 {
  width: 20%;
  float:left;
       background: #60BFBF;
}
#semestre2 {
  width: 20%;
  float:left;
       background: #8C4B7E;
}
#semestre3 {
  width: 20%;
  float:left;
       background: #F8BB44;
}
#semestre4 {
  width: 20%;
  float:left;
  background: #F6BB44;
}
/* Demo purposes */

body {
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  line-height: 1.5;
}

h1, h2 {
  font-weight: 300;
}



h2 {
  font-size: 36px;
  margin: 0 0 16px;
}

p {
  margin: 0 0 16px;
}
