* {
  box-sizing: border-box;
}

.content {
  width: 100%;
  text-align: center;
  overflow: hidden;
  color: black;
  background: #ECEFF1;
}
/* Demo purposes */
.materia{
  margin: 5px;
  height:  75px;
  overflow: auto;
  border-radius: 5px;
  border-style: solid;
}
.materiaDesactivada{
  margin: 5px;
  height:  75px;
  overflow: auto;
  border-radius: 5px;
  border-style: solid;
  background-color: #EF5350;
}
.emptyMateria{
  height:  75px;
}
.materia h3{
  padding: 0px;
  margin: 0px;
}
.materiaDesactivada h3{
  padding: 0px;
  margin: 0px;
}
.materia d{
  padding: 0px;
  margin: 0px;
}
#materias{
    margin: 10px;
    border-radius: 5px;

}
.semestre{
  width: 18%;
  display:inline-table;
}

#semestre1 {
       background:#F1F8E9;
}
#semestre2 {
  background: #DCEDC8;
}
#semestre3 {
       background: #C5E1A5;
}
#semestre4 {
  background: #AED581;
}
#semestre5 {
  background: #9CCC65;
}
#semestre10 {
       background:#F1F8E9;
}
#semestre9 {
  background: #DCEDC8;
}
#semestre8 {
       background: #C5E1A5;
}
#semestre7 {
  background: #AED581;
}
#semestre6 {
  background: #9CCC65;
}

body {
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  line-height: 1.5;
}

h1, h2,h3 {
  font-weight: 300;
}


h2 {
  font-size: 36px;
  margin: 0 0 16px;
}
h3{
  font-size: 16px;
}
p {
  margin: 0 0 16px;
}
